m.qidian.com###app-dl
m.qidian.com###app-dl
m.qidian.com###app-dl > p.text-content:last-child
m.qidian.com###app-dl
m.qidian.com###readTopTip
m.qidian.com###readTopTip
m.qidian.com###readTopTip
m.qidian.com##div.bottom-nav:nth-child(19)
m.qidian.com##div.page.page-home:nth-child(5) > div.content > div.module.module-merge:last-child > div.module-field:last-child
m.qidian.com###noLoginFooterDownload
m.qidian.com###app-dl > i:first-child
||unitelogreport.reader.qq.com^$domain=m.qidian.com
m.qidian.com###chapterEndModule_706470081 > a.auto-report.jsDownloadLink
m.qidian.com###chapterwrapper-706470121 > div.read-author-say.jsAuthorSay:last-child
m.qidian.com###chapterwrapper-706522409 > div.read-author-say.jsAuthorSay:nth-child(3)
||imgservices-1252317822.image.myqcloud.com/coco/s08082022/$domain=m.qidian.com
||imgservices-1252317822.image.myqcloud.com/image/041220220110127/$domain=m.qidian.com
||imgservices-1252317822.image.myqcloud.com/image/012120220102038/$domain=m.qidian.com
||bytecdntp.com^
||taoxiehui.cn^
||v1jd.syr66.com.cn^
m.qidian.com###vue-components > div.hb-thumbnail.auto-report:nth-child(3)
m.qidian.com###vue-components > div.dl-hongbao:nth-child(2) > div
m.qidian.com###vue-components
m.qidian.com###chapterwrapper-432932219 > div.read-author-say.jsAuthorSay:nth-child(4)
||mnpool.cn^
||55zzz.cn^
yydstxt.cc##mkk:nth-child(38)
yydstxt.cc##mkk:nth-child(36)
||zb7b.top^
||img1cdn.yishuojiaoyu.cn^
||kj2s1v.yishuojiaoyu.cn^
||img2cdn.jmgwh.cn^
||sdi2v.jmgwh.cn^
m.qidian.com###readTryRegion
m.qidian.com##div.bottom-nav:nth-child(17)
m.qidian.com###catalogWrapper > a.catalog-download.auto-report.prevent-shield.jsDownloadLink.jsCatalog:last-child
m.qidian.com###catalogWrapper > a.catalog-download.auto-report.prevent-shield.jsDownloadLink.jsCatalog:last-child
m.qidian.com###chapterContent > a.read-resource-tips.auto-report.prevent-shield.only-once.jsDownloadLink.jsResourceTip:first-child
m.qidian.com###chapterEndModule_738358151
m.qidian.com##div.bottom-nav:nth-child(16)
m.qidian.com##div.page.page-home:nth-child(3) > div.content > div.module.module-merge:last-child > div.module-field:last-child
m.qidian.com##div.page.page-home:first-child > div.content > div.module.module-merge:last-child > div.module-field:last-child
m.qidian.com##div.footer-section-login:nth-child(13)
tz659.com###RHqYfof6Ws > div.htKAX8p:nth-child(3)
||thrlcn.xyz^
||ikimhg.xyz^
m.qidian.com###chapterEndModule_735937419 > a.auto-report.jsDownloadLink.dl-moudle-guide > a.cem.cemxima
m.qidian.com###homeDown
m.qidian.com##div.page.page-home:nth-child(2) > div.content > div.module.module-merge:last-child > div.module-field:last-child
m.qidian.com###bookDetailWrapper > section.bd-center-download:nth-child(3)
neeva.com###root > div.isMouseMode > div.app-logged-in__component-3HsFA.app-layout__maxWidth-21X-0:first-child > div.mobile-navbar-index__mobileNavbarWrapper-2RqmE.app-layout__maxWidth-21X-0:last-child > div.mobile-navbar-index__mobileNavbar-2x4RX
xn--zku-91dsvodcom-sb1ww420bv16drbb.xn--91shen-cy3k.com##div.ads:nth-child(4)
m.qidian.com###bookDetailDownload
